.services_top_content{
    text-align: center;
    margin-bottom: 50px;
}

.service_item_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 2rem;
}

.service_item{
    background: var(--card-bg);
    width: 25%;
    padding: 30px 15px;
    text-align: center;
    border-radius: .8rem;
    margin-bottom: 6px;
    cursor: pointer;
}

.service_icon{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background: var(--icon-bg);
    border-radius: 5px;
    margin-bottom: 30px;
    border: 1px solid var(--primary-color);
}

.service_icon i{
    font-size: 2rem;
    color: var(--primary-color);
}

.service_title{
    font-size: 1.3rem;
    margin-bottom: 10px;
}


@media only screen and (max-width:992px){
    .services_top_content h2{
        font-size: 1.5rem;   
    }

    .service_item_wrapper{
        flex-wrap: wrap;
    }
    .service_item{
        width: 31%;
        margin-bottom: 30px;
    }
}

@media only screen and (max-width:768px){
    .service_item{
        width: 47.7%;
    }
    .service_title{
        font-size: 1.2rem;
    }
}

@media only screen and (max-width:576px){
    .service_item{
        width: 100%;
    }
}

.read_more_button,
.read_less_button {
  /* background-color: #379cf6;
  border: none;
  color: #fff;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease; */
  position: relative;
  background: #89b8de;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10px;
  font-size: 0.7rem;
  letter-spacing: 0.01rem;
  font-weight: 300;
  padding: 5px 15px;
  transition: 0.5s;
}

.read_more_button:hover,
.read_less_button:hover {
  /* background-color: #379cf6; */
  background: #1e9bff;
  letter-spacing: 0.25rem;
  box-shadow: 0 0 35px #1e9bff;
}

.read_less_button {
 background-color: transparent;
  /* padding: 5px 15px;*/
  color: #777;
  /* border: none;
  padding: 0;
  margin-top: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: color 0.3s ease; */ 
}

.read_less_button:hover {
   color: #555; 
}
