.container_testimonial{
    text-align: center;
}

.counts {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .counts p {
    color: #fff;
    font-size: 22px;
    margin: 0 15px;
  }
  
  .counts p span {
    font-size: 29px;
    font-weight: bold;
    color: aqua;
  }

.slider_content_top{
    text-align: center;
    margin-bottom: 50px;
}

.slider_content_top h6{
    color: aliceblue;
}

.slider_wrapper{
    width: 70%;
    margin: auto;
}

.slider_item{
    background: var(--testimonial-bg);
    padding: 40px 30px;
    border-radius: .6rem;
    text-align: center;
    cursor: pointer;
}



.customer_details{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    column-gap: 1rem;
    margin-top: 15px;
}

.customer_img{
    /* width: 120px; */
    height: 120px;
    margin-bottom: 10px;
}

/* .customer_img_f{
    height: 120px;
    display: flex;
    flex-direction: row;
    
}
.customer_img_f img{
    margin-right: 50px;
} */

.customer_img img{
    width: 100%;
    /* border-radius: 50%; */
    object-fit: cover;
    height: 100%;
}

.customer_name{
    font-size: 1.2rem;
    color: white;
    font-weight: 500;
}
@media only screen and (max-width:992px){
    .slider_content_top h2{
        font-size: 1.5rem;
    }
}

@media only screen and (max-width:768px){
    .slider_wrapper{
        width: 70%;
    }

    .customer_name{
        font-size: 1rem;
    }
}